@import "../../assets/styles/variables.less";

.footer-container {
  background: url("../../assets/images/footer/footer.svg") top right no-repeat;
  background-size: cover;
  width: 100%;
  padding: 60px 0;
  margin-top: 24px;

  .link-section,
  .social-media-section {
    width: 90vw;
    max-width: 1600px;
    margin: 0 auto;
  }

  .link-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    @media @media1024 {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 40px;
    }

    .link-title {
      font-size: 18px;
      font-weight: bold;
      line-height: 26px;
      margin-bottom: 24px;
      color: #fff;
    }

    .links-wrapper {
      display: flex;
      flex-direction: column;
      gap: 6px;
      width: 128px;

      a {
        font-size: 14px;
        line-height: 20px;
        color: #fff;
        text-transform: capitalize;
      }
    }
  }

  .social-media-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 85px;

    @media @media745 {
      flex-direction: column-reverse;
      gap: 24px;
    }

    & > p {
      font-size: 16px;
      line-height: 16px;
      color: #fff;

      @media @media745 {
        width: 100%;
        text-align: left;
      }
    }

    & > div {
      display: flex;
      gap: 70px;

      @media @media745 {
        gap: 0;
        width: 100%;
        justify-content: space-between;
      }

      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
